.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $cube-size;
  height: $cube-size;
  text-align: center;
  color: $color-primary-dark;
  overflow: auto;
  box-sizing: border-box;
  // transform: scale(-1, 1); // Keep this transformation if needed
  // transition: opacity 0.3s ease;
}

.button,
.button-previous,
.button-next {
  padding: 10px;
  background-color: $color-primary-dark;
  color: white;
  border: none;
  border-radius: $button-radius;
  cursor: pointer;
  position: absolute;
  // transform: translate(-50%, -50%);
  z-index: 10001;

  &:hover {
    background-color: $color-body-dark;
  }
}

.button-previous {
  top: 50%;
  left: 5%;
}

.button-next {
  top: 50%;
  right: 0%;
}

.hidden-cube {
  display: none !important; // Ensure this rule has higher specificity
}

.modal-container {
  z-index: 1000;
}

.carousel-container {
  z-index: 1001;
}

.carousel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.carousel-image {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
}

.no-scroll {
  overflow: hidden;
}

.active-side {
  opacity: 1 !important;
}
