.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $cube-size;
  height: $cube-size;
  // font-size: 6rem;
  text-align: center;
  color: $color-primary-dark;
  overflow: auto;
  box-sizing: border-box;
  transform: scale(1, 1);
}

// .component1 { background-color: #ffdddd; }
// .component2 { background-color: #ddffdd; }
// .component3 { background-color: #ddddff; }
.component4 { background-color: #ffffdd; }
.component5 { background-color: #ddffff; }
.component6 { background-color: #ffddff; }



// Assuming variables are defined somewhere
.button, .button-previous, .button-next {
padding: 10px;
background-color: $color-primary-dark;
color: white;
border: none;
border-radius: $button-radius;
cursor: pointer;
position: absolute; // Added for correct positioning with top/right/left
transform: translate(-50%, -50%);
z-index: 10001;

&:hover {
  background-color: $color-body-dark;
}
}

.button-previous {
top: 50%;
left: 5%; // Uncomment if needed
}

.button-next {
top: 50%;
right: 0%;
}

.hidden-cube {
  display: none;
}



.modal-container {
  z-index: 1000;
}

.hidden-cube {
  display: none;
}

.carousel-container {
  z-index: 1000; /* Ensure the carousel container is on top */
}

.carousel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; /* Ensure no background color is applied */
}

.carousel-image {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain; /* Ensure the image maintains its aspect ratio */
}

.no-scroll {
  overflow: hidden;
}


/* Ensure the modal has a high z-index */
.modal-container {
  z-index: 1000;
}

/* The cube should be hidden when the class is applied */
.hidden-cube {
  display: none !important;
}

.carousel-container {
  z-index: 1001; /* Ensure the carousel container is on top of the modal */
}
