canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }
  .canvas-hidden {
    display: none;
  }
  
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Signika Negative', sans-serif;

  }

  .cubeFace{
    border-radius: $border-radius;
    display: flex;
    width: 125rem;
    height: 125rem;
    
  }

