@import './variables';

.sidethreeMain, .sidefourMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  border-radius: $border-radius;
}

.sideOne__div1 {
  width: 100%;
  height: 100%;
}

.sideOne__div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;

  > img {
    height: 80%;
    width: 80%;
    object-fit: cover;
  }
}

.sideOne__container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.sideOne__h1 {
  font-size: $font-size-h1;
  margin-bottom: 5rem;
}

.sideOne__h1__dot {
  color: $color-tertiary-light;
}

.sideTwo {
  @extend .sideTwo; 
  background-color: #f2f2f2;
  transition: background-color $transition-speed;
}

.sideTwo__container {
  @extend .sideTwo-container;
}

.sideTwo__h2 {
  @extend .sideTwo__h2;
}

.sideTwo__content {
  @extend .sideTwo__content;
}

.sideTwo__div {
  @extend .sideTwo__div;
}

.sideTwo__img {
  @extend .sideTwo__img;
}

.sideTwo__text {
  @extend .sideTwo__text;
}

.sideTwo__animated-img {
  @extend .sideTwo__animated-img;
}

.sideTwo__animated-text {
  @extend .sideTwo__animated-text;
}

.sideTwo__animated-text--delay {
  @extend .sideTwo__animated-text--delay;
}

.sideTwo__animated-text--delay-more {
  @extend .sideTwo__animated-text--delay-more;
}

