@import './variables';

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.sideTwo {
  width: 100%;
  height: 100%;
  background-color: $color-primary-light;

  &-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: $font-size-medium;
    color: $color-secondary-light;
    text-align: center;
    text-decoration: underline $color-tertiary-light;
    text-underline-offset: 30px;
    transition: color $transition-speed;
    margin: 20px 0px 80px 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
  }

  &__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $color-secondary-light;
    font-size: $font-size-large;
    transition: color $transition-speed;
    margin-top: 1rem;
  }

  &__img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: $border-radius;
    transition: transform $transition-speed, box-shadow $transition-speed;

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
  }

  &__animated-img {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 0s;
  }

  &__text {
    text-align: center;
    color: $color-secondary-light;
    font-size: $font-size-large;
    transition: color $transition-speed;
    margin-top: 1rem;

    p {
      margin-bottom: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__animated-text,
  &__animated-text--delay,
  &__animated-text--delay-more {
    display: inline-block;
    letter-spacing: 0.15em;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
  }

  &__animated-text {
    animation-delay: 2s;
  }

  &__animated-text--delay {
    animation-delay: 4s;
  }

  &__animated-text--delay-more {
    animation-delay: 6s;
  }

  @media (max-width: 768px) {
    &__h2 {
      font-size: $font-size-medium;
    }

    &__img {
      width: 100%;
      max-width: 100%;
    }

    &__text,
    &__animated-text,
    &__animated-text--delay,
    &__animated-text--delay-more {
      font-size: $font-size-medium;
    }
  }
}
