@import './variables';

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.sideTwo {
  width: 100%;
  height: 100%;
  background-color: $color-primary-light;
  // transition: background-color $transition-speed;

  &-container {
    width: 100%;
    height: 100%;
    // padding: 2rem;
    // margin: auto;
    // display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: $font-size-medium;
    color: $color-secondary-light;
    text-align: center;
    text-decoration: underline $color-tertiary-light;
    transition: color $transition-speed;
    // margin-bottom: 50px;
    margin: 20px 0px 80px 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
  }
  
  &__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $color-secondary-light;
    font-size: $font-size-large;
    transition: color $transition-speed;
    margin-top: 1rem;
  }

  &__img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: $border-radius;
    transition: transform $transition-speed, box-shadow $transition-speed;
    // margin-bottom: 1rem;
    &:hover {
      transform: scale(1.01);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
  }

  &__animated-img {
    opacity: 0; /* Initially hide the image */
    // animation: fadeIn 2s ease-in-out forwards;
  }

  &__text {
    text-align: center;
    color: $color-secondary-light;
    font-size: $font-size-large;
    transition: color $transition-speed;
    margin-top: 1rem;

    p {
      margin-bottom: 1rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__animated-text,
  &__animated-text--delay,
  &__animated-text--delay-more {
    display: inline-block;
    // margin: 0 auto;
    letter-spacing: .15em;
    opacity: 0; /* Initially hide the text */
    animation: fadeIn 2s ease-in-out forwards;
  }

  &__animated-img {
    animation-delay: 0s; /* Image appears first */
  }

  &__animated-text {
    animation-delay: 2s; /* Text appears after the image */
  }

  &__animated-text--delay {
    animation-delay: 4s; /* Next text block */
  }

  &__animated-text--delay-more {
    animation-delay: 6s; /* Last text block */
  }
}

@media (max-width: 768px) {
  .sideTwo__img {
    width: 100%;
    max-width: 100%;
  }

  .sideTwo__text {
    font-size: $font-size-medium;
  }

  .sideTwo__animated-text,
  .sideTwo__animated-text--delay,
  .sideTwo__animated-text--delay-more {
    font-size: $font-size-medium;
  }
}