@import "./variables";

.sideOne {
  background-color: $color-primary-light;
  color: $color-secondary-light;
  flex-direction: column;
  justify-content: center;
  width: $cube-size;
  height: $cube-size;

  &__div1 {
    width: 100%;
    height: 100%;
  }

  &__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @media (max-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      margin-left: 0;
    }
  }

  &__h1 {
    margin-top: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__eye {
      display: inline-block;
      position: relative;
      top: -10px; // Adjust the vertical position of the "eyes"
      margin: 0 5px; // Space between the eyes
    }

    &__dot {
      color: $color-tertiary-light;
    }
  }

  &__smiley {
    padding-left: 300px;
    margin-top: -700px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: dotted red 4px;
    height: 40%;

    ;
  }
  &__p{
    font-size: 8rem;
    font-weight: 500;
    padding-top: 150px;
    
  }
}

.text {
  font-size: 4rem;
    height: 100%;
    width: 100%;
    fill: $color-tertiary-light
}

