@import "./variables";

.sideOne {
  background-color: $color-primary-light;
  color: $color-secondary-light;
  flex-direction: column;
  justify-content: center;
  width: $cube-size;
  height: $cube-size;

  &__div1 {
    width: 100%;
    height: 100%;
  }

  &__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @media (max-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      margin-left: 0;
    }
  }

  &__h1 {
    font-size: $font-size-h1;
    margin-bottom: 5rem;

    &__dot {
      color: $color-tertiary-light;
    }
  }

  &__p {
    font-size: 8vw;
    letter-spacing: 2px;
    padding-left: 10px;
    margin: 0;
  }
}





.smile-svg {
    display: block;
    margin: 0 auto;
    width: 100%; /* Responsive SVG width */
    max-width: 500px; /* Limit maximum width for larger screens */
    height: auto; /* Maintain aspect ratio */
  }
  
  path {
    fill: transparent;
  }
  
  text {
    fill: #FF9800;
    font-size: 35px; /* Specific font size for the SVG text */
  }