#contact {
    background-color: $color-primary-light;
    color: $color-secondary-light;
 
    width: $cube-size;
    height: $cube-size;
    font-size: $font-size-large;

  
    .container {
      // margin: 0 auto;
      // text-align: center;
      // background-color: $color-primary-light;
      // border-radius: $border-radius;
      width: 95%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    form {
      margin-top: 2%;
      height: 90%;
      width: 90%;
    }
  
    .form-group {
      margin-bottom: 3%;
      // height: 30%;

    }
  
    label {
      display: block;
      font-size: $font-size-large;
      margin-bottom: 0.5%;

    }
  
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 1%;
      font-size: 4rem;
      border: 0.1% solid $color-tertiary-light;
      border-radius: 0.5%;

    }
  
    textarea {
      resize: vertical;
      
    }
  
    button {
      background-color: $color-tertiary-light;
      color: $color-secondary-light;
      padding: 1% 2%;
      border: none;
      border-radius: 0.5%;
      font-size: 5rem;
      cursor: pointer;
  
      &:hover {
        background-color: darken($color-tertiary-light, 10%);
      }
    }
  }
  